@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

:root {
  --Softblue: hsl(215, 51%, 70%);
  --Cyan: hsl(178, 100%, 50%);
  --CyanOpacity: hsla(178, 100%, 50%, 0.507);
  --Verydarkblue_mainBG: hsl(217, 54%, 11%);
  --Verydarkblue_card_BG: hsl(216, 50%, 16%);
  --Verydarkblue_line: hsl(215, 32%, 27%);
  --White: hsl(0, 0%, 100%);
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: var(--Verydarkblue_mainBG);
  font-size: 18px;
}
.main-container {
  height: 27.22em;
  width: 15.611em;
  margin: 3.333em auto;
  border-radius: 0.889em;
  padding: 1.444em;
  background-color: var(--Verydarkblue_card_BG);
}
.image {
  margin: 0 auto;
  background-image: url(./images/image-equilibrium.jpg);
  background-size: cover;
  width: 15.556em;
  height: 15.556em;
  border-radius: 0.444em;
  margin-bottom: 1.222em;
  overflow: hidden;
}

h1 {
  color: var(--White);
  font-size: 1.2em;
  margin-bottom: 0.944em;
}

.description {
  font-size: 0.9em;
  color: var(--Softblue);
  margin-bottom: 1em;
  font-weight: 300;
}
.details-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
  font-size: 0.85em;
}
.value {
  display: flex;
  align-items: center;
  color: var(--Cyan);
  gap: 0.389em;
}

.time {
  display: flex;
  align-items: center;
  color: var(--Softblue);
  gap: 0.389em;
}

.line {
  border-top: 1px solid var(--Verydarkblue_line);
  margin-bottom: 0.833em;
}
.creator-container {
  display: flex;
  align-items: center;
}
.photo {
  background-image: url(./images/image-avatar.png);
  width: 1.667em;
  height: 1.667em;
  background-size: cover;
  border: 1px solid var(--White);
  border-radius: 50%;
}
.creator {
  color: var(--Softblue);
  font-size: 0.85em;
  margin-left: 0.833em;
}

.creator span {
  color: var(--White);
}

.attribution {
  font-size: 0.611em;
  text-align: center;
  margin-bottom: 1em;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media (min-width: 900px) {
  .main-container {
    height: 30.278em;
    width: 16.667em;
  }

  .image {
    width: 16.667em;
    height: 16.667em;
    border-radius: 0.444em;
    margin-bottom: 1.278em;
    overflow: hidden;
  }
  h1 {
    margin-bottom: 0.944em;
  }
  .description {
    font-size: 1em;
    line-height: 1.5em;
    margin-bottom: 1.389em;
  }
  .details-container {
    margin-bottom: 1.222em;
  }
  .value,
  .time {
    font-size: 1.05em;
  }
  .line {
    margin-bottom: 0.889em;
  }
}

@media (hover: hover) {
  .eye-image {
    background-color: var(--CyanOpacity);
    background-image: url(./images/icon-view.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  .eye-image:hover {
    opacity: 1;
    cursor: pointer;
  }

  .title:hover {
    color: var(--Cyan);
    cursor: pointer;
  }
}
